.project-container{
    min-height: 100vh;   
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project-card{
    max-width: 300px;
    max-height:350px;
    padding: 90px 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    transition: 0.4s ease;
}

.project-card h2{
    font-size: 30px;
}
.project-card p{
    font-size: 17px;
}

.project-card:hover{
    box-shadow: 3px 3px 10px black;
    cursor: pointer;
}
