.project-container{
    min-height: 100vh;   
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project-card{
    max-width: 300px;
    max-height:350px;
    padding: 90px 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    transition: 0.4s ease;
    box-shadow: 2px 2px 5px black;
}

.project-card h2{
    font-size: 30px;
}
.project-card p{
    font-size: 17px;
}

.project-btn{
    padding: 15px 15px;
    margin: 5px;
    background-color: #EE6F57;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    transition: 0.4s ease;
}
.project-btn:hover{
background-color: white;
color: #EE6F57;
box-shadow: 2px 2px 8px black;
}