.home-container{
    padding:11rem 1rem;
    color: #EE6F57;
    min-height: 100vh;
}

.img-container{
    padding: 20px 20px;
}

.home-container img{
    width: 70%;
    height: 300px;
    margin-right: 5%;
    margin-top: 35px;
 
}

.home-container h2{
    font-size: 50px;
    font-family:'Unica One', cursive; 
    font-weight: 600;
    text-shadow: 1px 1px 3px #ad0606;
}

.home-container p{
    font-size: 25px;
    color: black;
    margin-bottom: 30px;
}

.btn-container{
    display: flex;
    justify-content: center;
    padding: 5px 10px;
}

.btn{
    margin: 0 10px;
    padding: 10px 20px;
}

.btn-about{
    background-color: #EE6F57;
    color: #F6F5F5;
    transition: 0.3s ease;
    
    
}

.btn-project{
    border: 1px solid #EE6F57;
    transition: 0.3s ease;
}

.btn-about:hover{
    background-color: #F6F5F5;
    color: #000;
    border: 1px solid #EE6F57;
    box-shadow: 1px 1px 5px black;
}

.btn-project:hover{
    box-shadow: 1px 1px 5px black;
}