.home-container{
    padding:11rem 1rem;
    color: #EE6F57;
    min-height: 130vh;
}

.img-container{
    padding: 20px 20px;
}

.home-container img{
    width: 70%;
    height: 300px;
    margin-right: 5%;
    margin-top: 30px;
 
}

.home-container h2{
    font-size: 50px;
    font-family:'Unica One', cursive; 
    font-weight: 600;
    text-shadow: 1px 1px 3px #ad0606;
}

.home-container p{
    font-size: 25px;
}